In [1]:
# Importar librerias
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats.mstats import winsorize
#from google.colab import drive, files
import io

In [4]:
df=pd.read_csv("/Users/crist/eph2.txt", sep = ",")

In [5]:
df

,edad,sexo,alfabeto,sistema_salud,nivel_educativo,ocupacion_jerarquia,estado_civil,ingreso_15k
0,23.0,hombre,Si,Obra social (incluye PAMI),Secundaria Completa,Director,3,no
1,58.0,hombre,Si,Obra social (incluye PAMI),Superior Universitaria Completa,Cuenta propia,1,si
2,27.0,mujer,Si,No paga ni le descuentan,Secundaria Completa,Cuenta propia,4,no
3,32.0,hombre,Si,No paga ni le descuentan,Secundaria Incompleta,Cuenta propia,2,no
4,65.0,hombre,Si,Obra social (incluye PAMI),Primaria Completa,Cuenta propia,1,no
...,...,...,...,...,...,...,...,...
3511,51.0,hombre,Si,No paga ni le descuentan,Primaria Incompleta(incluye educación especial),Cuenta propia,1,si
3512,48.0,hombre,Si,Obra social (incluye PAMI),Secundaria Completa,Director,4,si
3513,35.0,mujer,Si,Obra social (incluye PAMI),Superior Universitaria Completa,Cuenta propia,3,si
3514,44.0,hombre,Si,No paga ni le descuentan,Secundaria Incompleta,Cuenta propia,1,no
3515,37.0,hombre,Si,No paga ni le descuentan,Secundaria Incompleta,Cuenta propia,3,no

In [6]:
df.loc[lambda x: x.index % 2 == 0]

,edad,sexo,alfabeto,sistema_salud,nivel_educativo,ocupacion_jerarquia,estado_civil,ingreso_15k
0,23.0,hombre,Si,Obra social (incluye PAMI),Secundaria Completa,Director,3,no
2,27.0,mujer,Si,No paga ni le descuentan,Secundaria Completa,Cuenta propia,4,no
4,65.0,hombre,Si,Obra social (incluye PAMI),Primaria Completa,Cuenta propia,1,no
6,40.0,hombre,No,No paga ni le descuentan,Primaria Incompleta(incluye educación especial),Cuenta propia,4,no
8,42.0,hombre,Si,No paga ni le descuentan,Secundaria Incompleta,Cuenta propia,4,no
...,...,...,...,...,...,...,...,...
3506,58.0,hombre,Si,No paga ni le descuentan,Primaria Completa,Cuenta propia,1,no
3508,43.0,mujer,Si,Obra social (incluye PAMI),Superior Universitaria Completa,Cuenta propia,3,si
3510,41.0,mujer,Si,Obra social (incluye PAMI),Secundaria Incompleta,Cuenta propia,2,no
3512,48.0,hombre,Si,Obra social (incluye PAMI),Secundaria Completa,Director,4,si
3514,44.0,hombre,Si,No paga ni le descuentan,Secundaria Incompleta,Cuenta propia,1,no